@font-face {
    font-family: myFont;
    src: url(Fonts/AquireBold-8Ma60.otf);
}

h1 {
    font-family: myFont;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
}

body {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

    /* vai garantir que o main ocuper 100% da altura menos o header */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* =============== HEADER =============== */

.nav-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;

    background: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-home .logo-icon {
    font-size: 32px;
}

.menu-icon {
    display: none;
    font-size: 22px;
}

@media screen and (max-width: 540px) {
    .nav-home {
        justify-content: space-between;
    }

    .menu-icon {
        display: block;
    }
}

/* =============== MAIN =============== */


main {
    display: flex;

    /* Vai ocupar o restante da página */
    flex-grow: 1;

    max-width: 100vw;
    overflow: hidden;
}

/* =============== AUDIO DISPLAY =============== */

.left {
    width: 80%;
    background: #171717;
    position: relative;
    overflow-x: hidden;
}

.left .sons {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;

    gap: 20px;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .left {
        width: 100vw;
    }

    .left .sons {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0;
    }
}

/* =============== DESIGN DOS AUDIOS =============== */

img {
    width: 125px;
    height: 120px;
}

.box__som {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box__som .box__som-icon {
    font-size: 60px;
    padding: 30px 40px;
    background: #ECECEC;
    color: black;
}

.box__som .nome-audio {
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #ECECEC;
}

.invisivel {
    display: none;
}

@media screen and (max-width: 540px) {
    .box__som .box__som-icon {
        font-size: 32px;
        padding: 20px 30px;
    }

    .box__som .nome-audio {
        font-size: 14px;
    }
}

/* =============== BUSCA =============== */

.busca {
    display: flex;
    position: fixed;
    bottom: 3%;
    left: 3%;
    gap: 20px;
}

.icone-busca {
    padding: 12px;
    font-size: 24px;
    color: white;
    border-radius: 8px;
    background: #00fff6;
    z-index: 3;
    cursor: pointer;
}

.ativo {
    left: 0 !important;
}


.busca-input {
    width: 30vw;
    border-radius: 17px;

    padding: 5px;
    position: relative;
    z-index: 3;
    left: 100vw;

    font-size: 16px;

    transition: .5s;
}

/* =============== TOOLS =============== */

.right {
    width: 20%;
    background: #2B2B2B;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 1%;

    z-index: 5;
}

.label-right {
    display: block;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;

    background-color: #FFFFFF;
    border-radius: 5px;

    font-size: 16px;
}

.input-file {
    display: none;
}

.label-file {
    background: #f12222;
    border-radius: 3px;
    padding: 8px;
    margin-left: 2px;
    margin-bottom: 20px;

    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.fa-upload {
    margin-right: 5px;
}


.input-submit {
    background: #00fff6;
    border-radius: 8px;
    padding: 8px;

    color: #1E2023;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    align-self: end;

    transition: .5s;
}

.input-submit:hover {
    transform: scale(1.05);
    background: rgba(0, 255, 247, 0.863);
}

.creditos {
    position: absolute;
    bottom: 3%;
    align-self: center;
}


.creditos span,
.creditos a {
    color: aquamarine;
}

@media screen and (max-width: 540px) {
    .right {
        position: absolute;
        right: -200vw;

        width: 80%;
        padding: 5%;

        transition: .5s;
    }

    .menu-ativo {
        right: 0;
    }
}